{% extends "master.html.twig" %}

{% block title %}Internal error{% endblock %}

{% block content %}

<h1>Internal error</h1>
<p>Our apologise. We've encounter an internal error in our system.
    Our technical team has been notified.</p>
<a href='/'>Click to continue</a>

{% endblock %}
