{% extends "template.html.twig" %}

{% block title %}BestBit Login{% endblock %}

{% block content %}
    
<h1>Login</h1>

{% if loginFailed %}
    <p>Invalid username or password</p>
{% endif %}

<form method="post">
    Username: <input type="text" name="email"><br><br>
    Password: <input type="password" name="pass"><br><br>
    <input type="submit" value="Login">
</form>

{% endblock %}