<!DOCTYPE HTML>
<!--
	Halcyonic by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
        <title>{% block title %}{% endblock %}</title>
        {% block head %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        {% endblock %}
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">
						<div class="row">
							<div class="12u">

								<!-- Logo -->
									<h1><a href="#" id="logo">BestBit</a></h1>

								<!-- Nav -->
									<nav id="nav">
										<a href="index.html">Homepage</a>
										<a href="#">To sell</a>
										<a href="#">To Buy</a>
										<a href="#">To Bit</a>
										<a href="#">Help</a>
									</nav>

							</div>
						</div>
					</header>
					<div id="banner">
						<div class="container">
							<div class="row">
								<div class="6u 12u(mobile)">

									<!-- Banner Copy -->
										<p>We do something really useful, important, and unique. Learn all about it here ...</p>
										<a href="#" class="button-big">Go on, click me!</a>

								</div>
								<div class="6u 12u(mobile)">

									<!-- Banner Image -->
										<a href="#" class="bordered-feature-image"><img src="images/banner.jpg" alt="" /></a>

								</div>
							</div>
						</div>
					</div>
				</div>

			<!-- Features -->
				<div id="features-wrapper">
					<div id="features">
						<div class="container">
							<div class="row">
								<div class="3u 12u(mobile)">

									<!-- Feature #1 -->
										<section>
											<a href="#" class="bordered-feature-image"><img src="images/pic01.jpg" alt="" /></a>
											<h2>Welcome to BestBit</h2>
											<p>
												This is <strong>BestBit</strong>, a web site to
												sell and buy everything.
											</p>
										</section>

								</div>
								<div class="3u 12u(mobile)">

									<!-- Feature #2 -->
										<section>
											<a href="#" class="bordered-feature-image"><img src="images/pic02.jpg" alt="" /></a>
											<h2>Responsive You Say?</h2>
											<p>
												Yes! BestBit is built on the full responsive support for desktop, tablet,
												and mobile device displays.
											</p>
										</section>

								</div>
								<div class="3u 12u(mobile)">

									<!-- Feature #3 -->
										<section>
											<a href="#" class="bordered-feature-image"><img src="images/pic03.jpg" alt="" /></a>
											<h2>License Info</h2>
											<p>
												BestBit is licensed under the <a href="http://html5up.net/license">CCA 3.0</a> license.
											</p>
										</section>

								</div>
								<div class="3u 12u(mobile)">

									<!-- Feature #4 -->
										<section>
											<a href="#" class="bordered-feature-image"><img src="images/pic04.jpg" alt="" /></a>
											<h2>Something to sell</h2>
											<p>
												You can easily submit your staffs to sell here and sell them with the best price.
											</p>
										</section>

								</div>
							</div>
						</div>
					</div>
				</div>

			<!-- Content -->
				<div id="content-wrapper">
					<div id="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u(mobile)">


								</div>
							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							<div class="8u 12u(mobile)">

								<!-- Links -->
									<section>
										<h2>Links to Important Stuffs</h2>
										<div>
											<div class="row">
												<div class="3u 12u(mobile)">
													<ul class="link-list last-child">
														<li><a href="#">Registration</a></li>
														<li><a href="#">BestBit money back guaranteed</a></li>
														<li><a href="#">Bidding and buying help</a></li>
														<li><a href="#">BestBit guides</a></li>
													</ul>
												</div>
												<div class="3u 12u(mobile)">
													<ul class="link-list last-child">
														<li><a href="#">Learn to sell</a></li>
														<li><a href="#">Learn to buy</a></li>
														<li><a href="#">Business sellers</a></li>
														<li><a href="#">Downloads</a></li>
													</ul>
												</div>
												<div class="3u 12u(mobile)">
													<ul class="link-list last-child">
														<li><a href="#">Mobile apps</a></li>
														<li><a href="#">Developers</a></li>
														<li><a href="#">Carriers</a></li>
														<li><a href="#">BestBit official times</a></li>
													</ul>
												</div>
												<div class="3u 12u(mobile)">
													<ul class="link-list last-child">
														<li><a href="#">Company info</a></li>
														<li><a href="#">News</a></li>
														<li><a href="#">Investors</a></li>
														<li><a href="#">Policies</a></li>
													</ul>
												</div>
											</div>
										</div>
									</section>

							</div>
							<div class="4u 12u(mobile)">

								<!-- Blurb -->
									<section>
										<h2>Estimating shipping costs</h2>
										<p>
											When you list an item, you can offer free shipping, flat rate shipping, 
											or calculated shipping based on the buyer's location. 
											To help you decide which to offer, you can estimate shipping costs with 
											our Shipping Calculator. It's important to provide accurate information so 
											the estimate is as close as possible to the actual cost.
										</p>
									</section>

							</div>
						</div>
					</footer>
				</div>

			<!-- Copyright -->
				<div id="copyright">
					&copy; BestBit. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>